<div class="form-group">
    <div class="row col-md-12">
        <button class="col-md-2 col-sm-3 col-xs-6 btn btn-info" [ngStyle]="{'margin': '0'}" (click)="onPrevPatientClicked()" [disabled]="isDisabled">Prev</button>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <select class="form-control" [(ngModel)]="currentPatientId" (change)="onChanged($event)">
                <option *ngFor="let patient of patients" [value]="patient.id">{{patient.id}} - {{patient.name}}</option>
            </select>
        </div>
        <button class="col-md-2 col-sm-3 col-xs-6 btn btn-info" [ngStyle]="{'margin': '0'}" (click)="onNextPatientClicked()" [disabled]="isDisabled">Next</button>
    </div>
</div>